In [2]:
import datalabframework as dlf

In [3]:
engine = dlf.engines.get('spark')
spark = engine.context()

 --packages org.xerial:sqlite-jdbc:3.23.1,mysql:mysql-connector-java:8.0.12,org.postgresql:postgresql:42.2.5,com.microsoft.sqlserver:mssql-jdbc:6.4.0.jre8 pyspark-shell

### Local file system

In [4]:
#csv
df = engine.read('.whites')
df.show(5)

file:///home/natbusa/Projects/datalabframework/datalabframework/templates/howto/\{\{cookiecutter.project_name\}\}/jupyter/src/../data/datasets/raw/winequality//winequality-white.csv

AnalysisException: 'Path does not exist: file:/home/natbusa/Projects/datalabframework/datalabframework/templates/howto/{{cookiecutter.project_name}}/jupyter/data/datasets/raw/winequality/winequality-white.csv;'

In [35]:
df1 = engine.read('test')
df1.show(5)

hdfs://hdfs-nn:8020//data/ingest/extract/test
+--------------------+--------------------+
|          department|           employees|
+--------------------+--------------------+
|[345678, Theater ...|[[michael, armbru...|
|[123456, Computer...|[[michael, armbru...|
|[789012, Mechanic...|[[matei,, no-repl...|
|[901234, Indoor R...|[[xiangrui, meng,...|
+--------------------+--------------------+

In [4]:
#json
df = engine.read('.iris')
df.show(5)

+-----------+----------+-----------+----------+-------+
|petalLength|petalWidth|sepalLength|sepalWidth|species|
+-----------+----------+-----------+----------+-------+
|        1.4|       0.2|        5.1|       3.5| setosa|
|        1.4|       0.2|        4.9|       3.0| setosa|
|        1.3|       0.2|        4.7|       3.2| setosa|
|        1.5|       0.2|        4.6|       3.1| setosa|
|        1.4|       0.2|        5.0|       3.6| setosa|
+-----------+----------+-----------+----------+-------+
only showing top 5 rows

In [5]:
#jsonl
df = engine.read('.abalone')
df.show(5)

+--------+------+------+-----+---+------------+--------------+--------------+
|Diameter|Height|Length|Rings|Sex|Shell weight|Shucked weight|Viscera weight|
+--------+------+------+-----+---+------------+--------------+--------------+
|   0.365| 0.095| 0.455| 0.15|  M|       0.101|         0.514|        0.2245|
|   0.265|  0.09|  0.35| 0.07|  M|      0.0485|        0.2255|        0.0995|
|    0.42| 0.135|  0.53| 0.21|  F|      0.1415|         0.677|        0.2565|
|   0.365| 0.125|  0.44|0.155|  M|       0.114|         0.516|        0.2155|
|   0.255|  0.08|  0.33|0.055|  I|      0.0395|         0.205|        0.0895|
+--------+------+------+-----+---+------------+--------------+--------------+
only showing top 5 rows

### SQLite

In [6]:
df = engine.read('.albums')
df.show()

+-------+--------------------+--------+
|AlbumId|               Title|ArtistId|
+-------+--------------------+--------+
|      1|For Those About T...|       1|
|      2|   Balls to the Wall|       2|
|      3|   Restless and Wild|       2|
|      4|   Let There Be Rock|       1|
|      5|            Big Ones|       3|
|      6|  Jagged Little Pill|       4|
|      7|            Facelift|       5|
|      8|      Warner 25 Anos|       6|
|      9|Plays Metallica B...|       7|
|     10|          Audioslave|       8|
|     11|        Out Of Exile|       8|
|     12| BackBeat Soundtrack|       9|
|     13|The Best Of Billy...|      10|
|     14|Alcohol Fueled Br...|      11|
|     15|Alcohol Fueled Br...|      11|
|     16|       Black Sabbath|      12|
|     17|Black Sabbath Vol...|      12|
|     18|          Body Count|      13|
|     19|    Chemical Wedding|      14|
|     20|The Best Of Buddy...|      15|
+-------+--------------------+--------+
only showing top 20 rows

### MYSQL

In [7]:
df = engine.read('.actor')
df.show()

jdbc:mysql://mysql:3306/sakila
+--------+----------+------------+-------------------+
|actor_id|first_name|   last_name|        last_update|
+--------+----------+------------+-------------------+
|       1|  PENELOPE|     GUINESS|2006-02-15 04:34:33|
|       2|      NICK|    WAHLBERG|2006-02-15 04:34:33|
|       3|        ED|       CHASE|2006-02-15 04:34:33|
|       4|  JENNIFER|       DAVIS|2006-02-15 04:34:33|
|       5|    JOHNNY|LOLLOBRIGIDA|2006-02-15 04:34:33|
|       6|     BETTE|   NICHOLSON|2006-02-15 04:34:33|
|       7|     GRACE|      MOSTEL|2006-02-15 04:34:33|
|       8|   MATTHEW|   JOHANSSON|2006-02-15 04:34:33|
|       9|       JOE|       SWANK|2006-02-15 04:34:33|
|      10| CHRISTIAN|       GABLE|2006-02-15 04:34:33|
|      11|      ZERO|        CAGE|2006-02-15 04:34:33|
|      12|      KARL|       BERRY|2006-02-15 04:34:33|
|      13|       UMA|        WOOD|2006-02-15 04:34:33|
|      14|    VIVIEN|      BERGEN|2006-02-15 04:34:33|
|      15|      CUBA|     OLIVIER|2006-02-15 04:34:33|
|      16|      FRED|     COSTNER|2006-02-15 04:34:33|
|      17|     HELEN|      VOIGHT|2006-02-15 04:34:33|
|      18|       DAN|        TORN|2006-02-15 04:34:33|
|      19|       BOB|     FAWCETT|2006-02-15 04:34:33|
|      20|   LUCILLE|       TRACY|2006-02-15 04:34:33|
+--------+----------+------------+-------------------+
only showing top 20 rows

### Postgres

In [8]:
df = engine.read('.teams')
df.show()

jdbc:postgresql://postgres:5432/sportsdb_sample
+---+--------------+------------+------------+
| id|      team_key|publisher_id|home_site_id|
+---+--------------+------------+------------+
|  1| l.mlb.com-t.6|           1|        null|
|  2| l.mlb.com-t.7|           1|        null|
|  3| l.mlb.com-t.8|           1|        null|
|  4| l.mlb.com-t.9|           1|        null|
|  5|l.mlb.com-t.10|           1|        null|
|  6| l.mlb.com-t.1|           1|        null|
|  7| l.mlb.com-t.2|           1|        null|
|  8| l.mlb.com-t.3|           1|        null|
|  9| l.mlb.com-t.4|           1|        null|
| 10| l.mlb.com-t.5|           1|        null|
| 11|l.mlb.com-t.11|           1|        null|
| 12|l.mlb.com-t.12|           1|        null|
| 13|l.mlb.com-t.13|           1|        null|
| 14|l.mlb.com-t.14|           1|        null|
| 15|l.mlb.com-t.20|           1|        null|
| 16|l.mlb.com-t.21|           1|        null|
| 17|l.mlb.com-t.22|           1|        null|
| 18|l.mlb.com-t.23|           1|        null|
| 19|l.mlb.com-t.24|           1|        null|
| 20|l.mlb.com-t.25|           1|        null|
+---+--------------+------------+------------+
only showing top 20 rows

### HDFS

In [ ]:
df = engine.read('.teams')
df.show()

### Minio

In [3]:
#to do